* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(240, 239, 239);
}

header {
  color: #fff;
  padding: 12px;
  background-color: rgb(71, 74, 236);
  font-style: italic;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.container .menu li {
  display: inline-block;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.about {
  margin: 56px auto;
  display: grid;
  grid-template-columns: 39% 59%;
  column-gap: 2%;
  align-items: center;
}

.about img {
  width: 100%;
}

.about-text {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .about-text h2 {
  position: absolute;
  top: 0;
  color:  rgb(71, 74, 236);
  border-bottom: 3px solid rgb(71, 74, 236);
  width: 100%;
  padding-bottom: 8px;
  font-style: italic;
  font-size: 1.5em;
}

.about .about-text p {
  align-items: center;
}

.store {
  margin-bottom: 50px;
}

.store h2 {
  padding-bottom: 8px;
  color:  rgb(71, 74, 236);
  border-bottom: 3px solid rgb(71, 74, 236);
  width: 100%;
  font-style: italic;
  font-size: 1.5em;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  column-gap: 1%;
  row-gap: 5%;

  margin-top: 20px;
}

.produto img {
  max-width: 100%;
}

.produto h3 {
  font-size: 1em;
  margin-top: 10px;
}

.produto p {
  font-size: 0.8em;
  margin-top: 10px;
}

.produto button {
  font-size: 0.8em;
  margin-top: 10px;

  padding: 8px;
  border: none;
  width: 100%;
  color: #fff;
  background-color: rgb(71, 74, 236);
  cursor: pointer;

}

.produto button:hover {
  background-color: rgb(16, 19, 212);
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
  .about {
    display: block;
    
  }

  .container {
    max-width: 1023px;
    width: 90%;
  }

  .about-text {

    margin-top: 56px;

    position: relative;
    height: 100%;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about .about-text h2 {
    display: block;
    position: initial;
    font-style: italic;
    font-size: 1.4em;
  }

  .store {
    margin-bottom: 50px;
  }

  .store h2 {
    font-size: 1.4em;
  }

  .about .about-text p {
    align-items: center;
    margin-top: 8px;
  }

  .produtos {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    column-gap: 2%;
    row-gap: 5%;
  }

  .produto h3 {
    font-size: 1.2em;
    margin-top: 10px;
  }
  

  .produto p {
    font-size: 1em;
    margin-top: 10px;
  }

  .produto button {
    font-size: 1em;
  }
  
}

@media screen and (max-width: 640px) {
  .about {
    display: block;
    margin: 30px auto;
  }

  .container {
    max-width: 640px;
    width: 90%;
  }

  .about-text {

    margin-top: 30px;

    position: relative;
    height: 100%;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about .about-text h2 {
    display: block;
    position: initial;
    font-style: italic;
    font-size: 1.4em;
  }

  .store {
    margin-bottom: 30px;
  }

  .store h2 {
    font-size: 1.4em;
  }

  .about .about-text p {
    align-items: center;
    margin-top: 8px;
  }

  .produtos {
    display: block;
    margin-bottom: 10px;
  }

  .produto {
    margin-bottom: 10px;
  }

  .produto h3 {
    font-size: 1.2em;
    margin-top: 10px;
  }
  

  .produto p {
    font-size: 1em;
    margin-top: 10px;
  }

  .produto button {
    font-size: 1em;
  }


}